@{
    ViewData["Title"] = "Upload CSV";
}

<h2>Upload CSV File</h2>
<form asp-controller="Home" asp-action="UploadCsv" enctype="multipart/form-data" method="post">
    <div class="mb-3">
        <label for="csvFile">Загрузите CSV файл</label>
        <input type="file" name="csvFile" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Загрузить</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}